{{#paper-dialog class="flex-77" fullscreen=true onClose=(action "closeDialog" "cancel") clickOutsideToClose=true}}
{{#paper-toolbar}}
  {{#paper-toolbar-tools}}
  	<h2>{{image.value}}</h2>
    <span class="flex"></span>
    {{#paper-button iconButton=true onClick=(action "closeDialog" "cancel")}}{{paper-icon icon="close"}}{{/paper-button}}
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}

{{!-- {{#paper-dialog-content class="layout-row"}}
    {{detailed-image image=image}}

{{/paper-dialog-content}} --}}

{{#unless processing}}
	{{#paper-dialog-content class="layout-row"}}
	    
	    {{#swiper-container keyboard=true mousewheel=true options=swiperOptions onChange=(action 'onSwipeChange')}}
	        {{#each imageList as |image index|}}
	        	{{#swiper-slide}}
	        		<div class="detailed-image-wrapper" data-image-index={{index}}>
	        		{{detailed-image image=image}}
	        		</div>
	        	{{/swiper-slide}}
	        	
	        {{/each}}
	      {{/swiper-container}}
	{{/paper-dialog-content}}
{{else}}
	{{paper-loading-linear}}
{{/unless}}

{{#paper-dialog-actions class="layout-row"}}
  {{#paper-button 
  	onClick=(action "gotoImage" "previous")
  	disabled=(eq image.previous null)
  	iconButton=true
  }}
  {{paper-icon "keyboard_arrow_left"}}
  {{/paper-button}}
  <span class="flex"></span>	
	{{#paper-button iconButton=true}}{{paper-icon "exposure_plus_1"}}{{/paper-button}}
	<span class="flex"></span>
	{{#paper-button iconButton=true}}{{paper-icon "comment"}}{{/paper-button}}
	<span class="flex"></span>
	{{#paper-button iconButton=true}}{{paper-icon "add"}}{{/paper-button}}
	<span class="flex"></span>
	{{#paper-button iconButton=true}}{{paper-icon "share"}}{{/paper-button}}
	<span class="flex"></span>
  {{#paper-button 
  	onClick=(action "gotoImage" "next")
  	disabled=(eq image.next null)
  	iconButton=true
  }}
  {{paper-icon "keyboard_arrow_right"}}
  {{/paper-button}}
{{/paper-dialog-actions}}
{{/paper-dialog}}